= form_for(@campaign) do |f|
  - if @campaign.errors.any?
    %ul
      - @campaign.errors.full_messages.each do |msg|
        %li= msg
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :stamp_number
    = f.select :stamp_number, [6,8,10,12], selected: 8
  %p
    = f.submit
